@import "variables";
@import "functions";

@mixin navbar($height:$navbar-height,$linkmargin: $navbar-item-margin,$breakpoint: 800px){
    .navbar{
    height: $navbar-height;
	@media (max-width: $breakpoint){height: auto;}
	ul {
        margin-top: 0;
        margin-bottom: 0;
		padding-left: 0;
		text-indent: 0;
		li {
			display: inline-block;
			margin-left: 30px - $linkmargin;
			margin-top: 0;
			&:first-child{margin-left: 0;}
			a{
				display: block;
				line-height: ($height - (2 * $linkmargin));
				margin-top: $linkmargin;
				margin-bottom: $linkmargin;
				padding-left: $linkmargin;
                padding-right: $linkmargin;
				@media (max-width: $breakpoint){
					line-height: 40px;
				}
			}
		}
    }
}
}

@mixin typography(
    $font-style:$font-style,
    $font-variant: $font-variant,
    $font-weight: $font-weight,
    $font-size: $font-size,
    $line-height: $line-height,
    $font-family: $font-family
){
    font: $font-style $font-variant $font-weight $font-size#{"/"}$line-height $font-family;
}