/* navigation variables */
$navbar-height: 50px !default;
$navbar-padding: 0 4px !default;
$navbar-item-margin: 16px;

/* button variables */
$button-x-padding: 2.28rem;
$button-y-padding: 1.14rem;
$button-border-radius: 2px;

/* typography */
$font-style: normal;
$font-variant: normal;
$font-weight: 300;
$font-size: 1em;
$line-height: 1.15;
$font-family: Arial;

/* colors */
$color-primary: #121212;
$color-secondary: #ffffff;
